/*main classes used by login and signup*/
/*.form{
 margin-left: 200px;
  margin-top: 20px;
  margin-right: 200px;
  padding-bottom: 20px;
  width: 775px;
  border-radius: 10px;
  border: 5px solid mistyrose;
  text-align: center;
}

.button{
border: 1px red;
}

.login{
	border: 1px green;
}
*/


/*/////////////////////////*/


.container{
	margin-bottom: 50px;
	margin-top: 100px;
}
.container1{
	margin-bottom: 30px;
	margin-top: 50px;
}

.panel-body{
	height: 300px;
}
.maindiv1{
	height: 300px;
}

.maindiv{
	height: 250px;
}
.button1{
	background: mistyrose;
}